body{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 110px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
}

.header {
    background-color: aliceblue;

    grid-area: header;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "search user"
    "welcome buttons";
}
.button{
    font-size: medium;
    padding: 5px 10px;
    margin: 10px;
    color: white;
    background-color: blue;
    border-radius: 8px;
}

.search{
    grid-area: search;
    padding: 8px;
    display: grid;
    grid-template-areas: "c1 c2";
    grid-template-columns: 5% 95%;
    

    
}
.search input{
    height: 25px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;


}
#search-icon{
    grid-area: c1;
}
#input{
    grid-area: c2;
}

.welcome{
    grid-area: welcome;
    padding: 10px;
    display: grid;
    grid-template-areas: "p1 p2";
    grid-template-columns: 10% 90%;
}
#greeted{
    grid-area: p1;
}
#greet{
    grid-area: p2;
}
#user{
    font-weight: 700;
    font-size: medium;
}
.user-account{
    grid-area: user;
    padding: 10px 15px;
    display: grid;
    grid-template-areas: "b1 b2 b3";
    grid-template-columns: 15% 25% 60%;
}
#bell{
    grid-area: b1;
}
#prof{
    grid-area: b2;
}
#logged-in{
    font-size: medium;
    font-weight: 400;
    grid-area: b3;
}
.buttons{
    grid-area: buttons;
    padding-top: 10px;
}

.sidebar{
    background-color: aqua;
    grid-area: side;
}

.main{
    background-color: blueviolet;
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "projects announcement"
    "projects trending";
    gap: 40px;
    grid-template-columns: 70% 30%;
}

.projects{
    grid-area: projects;
    background-color: brown;
    width: 1fr;
    margin: 15px 20px;
}

.card-container{
    display: grid;
    grid-template-areas: 
    "c1 c2"
    "c3 c4"
    "c5 c6";
    /*grid-area: 10px;*/
    gap: 40px;

}

.card{
    /*width: 200px;*/
    border: black;
    padding: 10px;
    height: 80px;
    width: auto;
    margin-bottom: 10px;

    
}

#project1{
    grid-area: c1;
    
}
#project2{
    grid-area: c2;
    
}
#project3{
    grid-area: c3;
    
}
#project4{
    grid-area: c4;
    
}
#project5{
    grid-area: c5;
    
}
#project6{
    grid-area: c6;

}
.announcements{
    grid-area: announcement;
    background-color: beige;
}
.announce{
    padding: 3px 10px;
    border-radius: 8px;
    background-color: azure;
}
.trending{
    grid-area: trending;
    background-color: aliceblue;
}
.person1{
    display: grid;
    grid-template-areas: "d1 d2";
    grid-template-columns: 30% 70%;

}
.person2{
    display: grid;
    grid-template-areas: "d3 d4";
    grid-template-columns: 30% 70%;
    
}
.person3{
    display: grid;
    grid-template-areas: "d5 d6";
    grid-template-columns: 30% 70%;
    
}
.person4{
    display: grid;
    grid-template-areas: "d7 d8";
    grid-template-columns: 30% 70%;
    
}



.side-top{
    font-size:x-large;
    padding: 20px;
    margin-bottom: 60px;
}

.side-middle{
    font-size: larger;
    padding: 20px;
    margin-bottom: 60px;

}

.side-bottom{
    font-size: larger;
    padding: 20px;
}